html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}



html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: hidden; /* for Chrome */
    overflow-y: hidden; /* for Chrome */
  }