<!DOCTYPE html><html lang="en">
    <head>
        <!-- add the following lines at the top of their <head> -->
        <script src="../../libraries/p5.min.js"></script>
        <script src="../../libraries/p5.sound.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="../../styles/student-page.css">
        <!-- end of lines to add -->
        
        <meta charset="utf-8">

    </head>
  <body>
    
   <!-- add the following header at the top of their <body> -->
    <header>
      <nav>
        <ul>
          <li>
            <a href="../../index.html">← back to projects list</a>
          </li>
          <li>
            student name
          </li>
        </ul>
      </nav>
    </header>


  

</body></html>